<div class="t-center">
    <button (click)="showRegular()" [class.active]="!displayOptimized">Show regular</button>
    <button (click)="showOptimized()" [class.active]="displayOptimized">Show optimized</button>
    <div *ngIf="!displayOptimized">
        <app-dropdown></app-dropdown>
        <app-dropdown></app-dropdown>
        <app-dropdown></app-dropdown>
    </div>
    <div *ngIf="displayOptimized">
        <app-dropdown-optimized></app-dropdown-optimized>
        <app-dropdown-optimized></app-dropdown-optimized>
        <app-dropdown-optimized></app-dropdown-optimized>
    </div>
</div>
